<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="js/angular.min.js"></script>
</head>

<body>
    <div class="container" ng-app="myApp">
        <h2>AngularJS - Event Demo</h2>
        <hr>
        <div ng-controller="myControl">
            <label for="">Nhap nam sinh:</label>
            <input type="number" ng-model="yob" min="1960">
            <button type="button" class="btn btn-info" ng-click="display()">click </button><br>
            <p>{{message}}</p>
        </div>

    </div>

</body>

<script>
    //lap trinh cho ung dung angular js
    //tao bien dai dien cho ud angular js
    var app = angular.module("myApp", []);

    //lap trinh cho controller co ten myControl
    app.controller("myControl", function ($scope) {
        $scope.yob = 2003;
        $scope.display=function(){
            let d = new Date();
            let age = d.getFullYear()- $scope.yob;
            $scope.message = `You are ${age} old year.`;
        }

    });

</script>

</html>